<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>pav api</title>
<link rel="stylesheet" href="css/master.css" type="text/css" />
<link rel="shortcut icon" href="/images/sim.png">
</head>

<body>
	<div id="wrapper">
	<header id="main"> 
	  <hgroup> 
      <h3><a href="http://abcdigmusic.net.au">dig</a></h3> 
      <h2>Presents</h2> 
      <h1>the pav<em>api</em><span>of</span>tomorrow</h1> 
    </hgroup> 
  </header>
<section>
	<%= yield %>
	</section>
	</div>
</body>
</html>