<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>pav api</title>
<link rel="stylesheet" href="css/main.css" type="text/css" />
<link rel="shortcut icon" href="/images/sim.png">
</head>

<body id="index" class="home">
	<%= yield %>
</body>
</html>